.product-list {
  list-style-type: none;
  margin: 10px 5px;
  padding: 0;
  height: 15rem;
  overflow-y: scroll;
}

.product-list .product-item {
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
}

.product-item:hover {
  background-color: aliceblue;
}

.products-loader {
  margin: 15px 5px;
}

.products-error {
  margin: 15px 5px;
  color: rgb(189, 30, 30);
}

.highlight {
  background-color: rgb(240, 240, 120);
}
