.product-list {
  list-style-type: none;
  margin: 10px 5px;
  padding: 0;
  height: 15rem;
  overflow-y: scroll;
}

.product-list .product-item {
  margin: 10px 0;
  font-size: 15px;
}

.products-loader {
  margin: 15px 5px;
}

.products-error {
  margin: 15px 5px;
  color: rgb(189, 30, 30);
}
